{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
            <form method="post">
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>

                <input type="submit" />
            </form>
{% endblock %}

