{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
            <form method="post">
                {% csrf_token %}
                <p>
                    Would you want to delete this issue and all his comments ?
                </p>

                <input type="submit" value="Apply" />
            </form>
{% endblock %}

