{% load static %}
<!DOCTYPE html>
<html lang="{{ SITE_LANG }}">
    <head>
        <title>{{ SITE_TITLE }}</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{ BASE_URL }}/">Home</a>
                </li>
            </ul>
        </nav>

        <header>
            <h1>{% block title %}{% endblock %}</h1>
        </header>

        <section>
            {% block content %}{% endblock %}
        </section>

        <footer>
            <small></small>
        </footer>
    </body>
</html>
