{% extends 'base.html' %}

{% block title %}{{ object.project.name }} - {{ object.title }}{% endblock %}

{% block content %}
            <p>
                {{ object.summary }}
            </p>
            <p>
                {{ object.content }}
            </p>
            <p>
                {% if object.comments %}
                <ul>
                {% for comment in object.comments %}
                    <li>
                        {{ comment.content }}<br />
                        <small>{{ comment.owner.username }}</small>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>No comments available</strong>
                {% endif %}
            </p>
{% endblock %}

