{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
            <p>
                {{ object.description }}
            </p>
            <p>
                {% if object.issues %}
                <ul>
                {% for issue in object.issues %}
                    <li>
                        <a href="{% url 'issue-detail' object.slug issue.slug issue.pk %}">{{ issue.title }}</a><br />
                        <small>{{ issue.summary }}</small>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>No issues available</strong>
                {% endif %}
            </p>
{% endblock %}
