{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <ul>
    {% for project in object_list %}
        <li>
            <a href="{% url 'project-detail' project.slug %}">{{ project.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
